{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="../../../jsi18n/"></script>
{{ media }}
{{ form.media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}

{% block content %}
<br />
<br />
<div id="content-main">
    {% block object-tools %}
      <ul class="object-tools">
        <li><a href="/admin/{{ object_content_type.app_label }}/{{ object_content_type.model }}/{{ object.id }}" class="viewsitelink">Back to {{ object }}</a></li>
      </ul>
      <h2>{{ object }}</h2>
    {% endblock %}

     <input type="text" id="id_address">
     <input type="submit" value="center the map" onclick="move_to_geocode();">


    <form action="." method="post">
        <fieldset class="module aligned ">
            <br />
            <br />
            <div class="form-row point  ">
                {{ form.as_table}}
            </div>

        </fieldset>
        <div class="submit-row" >
            <input type="submit" value="Save" class="_save">
        </div>
    </form>
</div>

<script type="text/javascript">
     function move_to_geocode(){
         address = jQuery("#id_address")[0].value;
         gkey = "{{ google_key }}";
         google_geocoder_query = "http://maps.google.com/maps/geo?q="+address+"&output=json&oe=utf8&sensor=false&key=" + gkey + "&callback=?";
         jQuery.getJSON(google_geocoder_query,
                        function(data){
                         lon = data["Placemark"][0]["Point"]["coordinates"][0];
                         lat = data["Placemark"][0]["Point"]["coordinates"][1];
                         zoom_lvl = 15;
                         console.log(" lon : " + lon +"lat : "+ lat);
                         geocoder_projection = new OpenLayers.Projection("EPSG:4326")
                         lonlat = new OpenLayers.LonLat(lon, lat);
                         lonlat.transform(geocoder_projection,geodjango_point.map.getProjectionObject());
                         geodjango_point.map.setCenter(lonlat, zoom_lvl);
                        })




     }

</script>
{% endblock %}
