import os

PROJECT_PATH = os.path.abspath(os.path.split(__file__)[0])


DATABASE_NAME = 'geotagging_demo_db'             # Or path to database file if using sqlite3.
DATABASE_USER = 'django_login'             # Not used with sqlite3.
DATABASE_PASSWORD = 'django_password'         # Not used with sqlite3.
DATABASE_HOST = ''             # Set to empty string for localhost. Not used with sqlite3.
DATABASE_PORT = ''             # Set to empty string for default. Not used with sqlite3.

POSTGIS_TEMPLATE='template_postgis'
# POSTGIS_SQL_PATH ='/usr/share/postgresql-8.3-postgis/'

# Google maps api key
GOOGLE_MAPS_API_KEY = '<Your key should go here>'

# Path to the GeoIP datasets
GEOIP_PATH = os.path.join(PROJECT_PATH, "geoip_datasets")

#Useful paths for Mac Ports installs of GeoDjango libs
# GDAL_LIBRARY_PATH = "/opt/local/lib/libgdal.dylib"
# GEOS_LIBRARY_PATH = "/opt/local/lib/libgeos_c.dylib"
